<h3>楽曲別スコア情報</h3>



<%= link_to 'INFO MORE...', { :controller => 'infos', :action => 'call_add_info' }, :remote => true, :'data-type' => :html, :class => 'ajax_link' %>

<div id="more_info" style="margin: 20px 0">
</div>
 
<script>
$(function () {
  $(document).on('ajax:success', 'a.ajax_link', function (ujs, content, status, xhr) {
    console.log('success');
    $('#more_info').append(content);
  });

});
</script>
