<h3>楽曲別スコア情報</h3>



<%= link_to 'INFO MORE...', { :controller => 'infos', :action => 'call_add_info' }, :remote => true, :'data-type' => :html, :class => 'ajax_link' %>

<div id="more_info" style="margin: 20px 0">
</div>
 
<script>
  $(function () {
    var request = [
      <% @loading_que.each do |loading| %>
        { url: './call_add_info', params: { loading:'<%= loading %>' } },
      <% end %>
    ];

    var doneCount = 0;

    for (var i = 0, len = request.length; i < len; i++) {
      $.ajax({
        url: request[i].url,
        data: request[i].params,
        type: 'POST',
        dataType: 'html',
        success: function (response) {
          $('#more_info').append(response);
          doneCount++;
          if (doneCount === request.length) {
              allDone();
          }
        }
      });
    }

    function allDone () {
        results; // => 結果の順番は通信が成功した順番
    };
  });

</script>
