<h3>楽曲別スコア情報</h3>



<%= link_to 'INFO MORE...', { :controller => 'infos', :action => 'call_add_info' }, :remote => true, :'data-type' => :html, :class => 'ajax_link' %>

<div id="error_info" style="margin: 20px 0">
</div>

<div id="more_info" style="margin: 20px 0">
</div>
 
<script>
  $(function () {
    var opts = {
      lines: 13, // The number of lines to draw
      length: 7, // The length of each line
      width: 4, // The line thickness
      radius: 10, // The radius of the inner circle
      corners: 1, // Corner roundness (0..1)
      rotate: 0, // The rotation offset
      color: '#000', // #rgb or #rrggbb
      speed: 1, // Rounds per second
      trail: 60, // Afterglow percentage
      shadow: false, // Whether to render a shadow
      hwaccel: false, // Whether to use hardware acceleration
      className: 'spinner', // The CSS class to assign to the spinner
      zIndex: 2e9, // The z-index (defaults to 2000000000)
      top: 'auto', // Top position relative to parent in px
      left: 'auto' // Left position relative to parent in px
    };
    var target = document.getElementById("more_info");
    var spinner = new Spinner(opts).spin(target);
    var request = [
    <% @loading_que.each do |loading| %>
      { url: './call_add_info', params: { loading:'<%= loading %>' } },
    <% end %>
    ];

    var doneCount = 0;

    for (var i = 0, len = request.length; i < len; i++) {
      $.ajax({
        url: request[i].url,
        data: request[i].params,
        type: 'POST',
        dataType: 'html',
      }).done(function(response){
        $('#more_info').append(response);
        doneCount++;
        if (doneCount === request.length) {
            allDone();
        }
      }).fail(function(response){
        $('#error_info').append(response);
        doneCount++;
        if (doneCount === request.length) {
            allDone();
        }
      });
    }

    function allDone () {
      spinner.spin(false);
    };
  });

</script>
